body {
    font-family: Arial, sans-serif;
    background-color: #e880aa;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    text-align: center;
    background-color: #9336c5;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.719);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

button {
    background-color: #72409b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: #7f29b9;
}
